* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
}

/* Header */
.header {
  margin-top: 30px;
}
.header > div:first-child > p {
  font-size: 25px;
  font-weight: 500;
}
.header > div:nth-child(2) > ul > li {
  margin-left: 15px;
  font-size: 25px;
  font-weight: 500;
  list-style: none;
}
.header > div:nth-child(2) > ul > li:hover {
  text-decoration: underline;
  color: gray;
}

.header > div:nth-child(2) > ul > li:first-child {
  margin-left: 0px;
}

/* Profile */
.profile {
  margin-top: 120px;
}
.profile > div:first-child > img {
  border: 0.5px solid gray;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.profile > div:last-child > div > div:first-child > p {
  font-size: 14px;
}
.profile > div:last-child > div > div:nth-child(2) > p {
  font-size: 35px;
  font-weight: 800;
}
.profile > div:last-child > div > div:nth-child(3) > p {
  font-size: 32px;
  font-weight: 800;
}
.profile > div:last-child > div > div:nth-child(4) > button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
}
.profile > div:last-child > div > div:nth-child(4) > button:first-child {
  background-color: white;
  color: rgb(75, 74, 74);
  border: 1px solid rgb(75, 74, 74);
}
.profile > div:last-child > div > div:nth-child(4) > button:last-child {
  color: white;
  background-color: rgb(75, 74, 74);
}
.profile > div:last-child > div > div:last-child > img {
  height: 30px;
  width: 30px;
}
.profile > div:last-child > div > div:last-child > img:last-child {
  margin-left: 10px;
}
.profile > div > div:last-child {
  margin-left: 20px;
  height: 200px;
}
/* About Me */

.about-me > div:nth-child(3) > div:first-child > img {
  width: 300px;
  height: 300px;
  border: 0.5px solid gray;
  border-radius: 15px;
}
.about-me > div:last-child > div:last-child > div:first-child > div {
  border: 0.5px solid gray;
  border-radius: 22px;
  height: 140px;
}

.about-me
  > div:last-child
  > div:last-child
  > div:first-child
  > div
  > div:nth-child(2)
  > p {
  color: black;
  font-weight: 600;
}

/* Experience */
.experience > div:last-child > div {
  border: 0.5px solid gray;
  height: 300px;
  border-radius: 22px;
}
.experience > div:last-child > div > div:first-child > p {
  font-size: 22px;
  font-weight: 700;
}
.experience > div:last-child > div > div:last-child > div > div {
  width: 120px;
}

/* Projects */
.projects > div:last-child > div {
  width: 31%;
  border: 0.5px solid gray;
  border-radius: 12px;
  height: 450px;
}
.projects > div:last-child > div > div {
  width: 90%;
  height: 90%;
}
.projects > div:last-child > div > div > div:first-child {
  border: 1px solid gray;
  border-radius: 22px;
}

.projects > div:last-child > div > div > div:first-child > img {
  width: 90%;
}
.projects > div:last-child > div > div > div:nth-child(2) > p {
  font-size: 22px;
  font-weight: 650;
}
.projects > div:last-child > div > div > div:last-child > button {
  width: 120px;
  height: 40px;
  border-radius: 17px;
  border: 0.5px solid gray;
  background-color: white;
  color: black;
}

/* Reusable classes */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.cursor-pointer {
  cursor: pointer;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.ml-20 {
  margin-left: 20px;
}
.width-45 {
  width: 45%;
}
.width-48 {
  width: 48%;
}
.width-50 {
  width: 50%;
}
.ml-5 {
  margin-left: 5px;
}
.color-gray {
  color: gray;
}
.section-1st-title {
  font-size: 14px;
}

.section-2nd-title {
  font-size: 40px;
  font-weight: bold;
}
.fw-700 {
  font-weight: 700;
}
.b1s {
  border: 1px solid red;
}
